* {
  font-family: "Roboto Slab";
}
body {
  background-image: url("http://thumbs.dreamstime.com/z/cyan-futuristic-abstract-background-5753309.jpg");
  color: white;
}
ul.navbar li {
  list-style-type: none;
  display: inline;
  padding: 10;
}
ul.navbar a {
  text-decoration: none;
}
#whatis {
  opacity: 0.6;
  background-color: #000;
  float: left;
}
